.intro {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px;
}

.intro > * {
    flex: 1;
    flex-wrap: wrap;
}

.intro img {
    padding: 70px;
    width: 50%;
    height: 50%;
    padding-bottom: 0px;
}

.intro div {
    padding: 70px;
    align-self: center;
    min-width: 50%;
    padding-bottom: 0px;
}

.aboutMe {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px;
}

.aboutMe > * {
    flex: 1;
}

.aboutMe img {
    padding: 70px;
    width: 50%;
    height: 50%;
    padding-bottom: 0px;
}

.aboutMe div {
    padding: 70px;
    align-self: center;
    min-width: 50%;
    padding-bottom: 0px;
}
