.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 10%;
    margin-top: 10%;
}

.text {
    flex: 1;
    padding-right: 5%;
}

.image {
    flex: 1;
}

.text h3 {
    margin: 5% 0;
    font-size: medium;
}

.button {
    font-size: large;
    padding: 3%;
}
